.App {
  text-align: center;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}

.mainForm {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  border-radius: 7px;
}

.mainForm input {
  height: 25px;
  border-radius: 7px;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mainForm button {
  border-radius: 7px;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.animation {
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.userCard {  
  margin: 25px 5px;
  border-radius: 14px;
  background: #dddddd; 
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.31);
  -moz-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.31);
  box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.31);
 }

 .userCard img {
   height: 300px;
   width: 300px;
   margin: 30px;
 }

 .userCard h3 {
   text-align: center;
 }

 .userCard p {
   margin: 10px;
 }

 .userCard a {
   color: #131313;
   align-self: center;
 }

 .userCard i {
   font-size: 30px;
   align-self: center;
 }

.gitLink {
  display: flex;
  align-content: center;
  justify-content: center;
}

 .followSection {
   display: flex;
   justify-content: space-around;
 }

 .followSection p {
   font-weight: 400;
 }

 .followSection h3 {
   color: cornflowerblue;
   margin: 15px;
 }

 .followSection div {
   text-align: center;
   margin: 20px;
 }

 @media (max-width: 715px) {
  body {
    height: auto;
  }

  .mainForm {
    margin: 0;
  }

  .mainForm h1 {
    text-align: center;
    margin: 10px 0px;
  }

  .mainForm input {
    height: 15px;
    padding: 2px;
    margin: 5px;
    font-size: 14px;
  }
  
  .mainForm button {
    padding: 2px;
    margin: 5px;
    font-size: 14px;
  }

  .subForm {
    margin: 0;
  }

  .userCard {
      flex-direction: column;
      margin: 15px;
  }

  .userCard img {
    height: 260px;
    width: 260px;
    margin: 10px;
  }

  .userCard a {
    margin: 15px;
  }

  .userCard h3 {
    margin: 4px 0;
  }

  .followSection h3 {
    color: cornflowerblue;
    margin: 7.5px;
  }

  .followSection div {
    margin: 5px;
  }
}

@media (max-width: 650px) {
  .userCard img {
    height: 250px;
    width: 250px;
  }
}

@media (max-width: 400px) {
  .subForm form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .userCard img {
      height: 200px;
      width: 200px;
      margin: 10px;
  }

  .userCard p {
    font-size: 14px;
    margin: 10px 4px;
  }

  .userCard a {
    margin: 15px;
  }
}

@media (max-width: 350px) {
  .userCard p {
    font-size: 12px;
    margin: 10px 4px;
  }
}